@keyframes blink {
  0% {
    transform: scale(1.4);
  }
  50% {
    opacity: 1;
  }
}

@keyframes blink-on-off {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes msg {
  0% {
    transform: translateY(-5rem) scale(.9);
  }
  100% {
    opacity: 1;
  }
}

@keyframes moveDown {
  0% {

  }
  100% {
    transform: translateY(14rem);
  }
}

@keyframes msgExpand {
  0% {

  }
  100% {

    opacity: 1;
  }
}
// Post typing animation:
// dots remove visibility
// expand width
// make text appear