@keyframes blink-dots {
  0% {
    transform: scale(1.4);
  }
  50% {
    opacity: 1;
  }
}

@keyframes blink-on-off {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes msgExpand {
  0% {
    transform: translateX(-5rem) scale(.6);
    opacity: 1;
  }
  50% {
    transform: scale(1);
    color: $light-grey-2;
  }
  100% {
    opacity: 1;
    color: #000;
  }
}

@keyframes moveDown {
  0% {

  }
  100% {
    transform: translateY(14rem);
  }
}