*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;

  @include respond(tab-land) {  // width < 1200?
    font-size: 56.25%;
  }

  @include respond(tab-port) { // width < 900?
    font-size: 50%;
  }
  @include respond(big-desktop) {
    font-size: 75%;
  }
}

body {
  background: #292929;
  margin: 0 auto;
  overflow-x: hidden;
}

.btn {
  background: $blue;
  color: #fff;
  font-family: $avenir;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 1.2rem 3rem;
  border: none;
  border-radius: 1rem;
  margin: 1rem auto;
  display: flex;

  &:hover,
  &:focus {
    outline: none;
  }
}