.u-mg-mid { margin: 3rem auto 6rem auto !important;}
.u-mg-sm { margin: 3rem auto !important;}
.u-mg-xsm { margin: 2rem 1rem !important;}
.u-bottom {
  position: absolute;
  bottom: 1.5rem;
  //right: 50%; left: 50%;
  transform: translate(50%, -50%);
}
//.u-mg-top-sm { margin-top: 2rem !important;}

.u-font-mid { font-size: 2.2rem !important;}

.btm-fixed {
  position: absolute;
  bottom: 2rem;
  right: 50%; left: 50%;
  transform: translate(-50%, -50%);
}

.back-blue { background: $tiaa-blue !important;}

.tiaa-btn {background: #397CA9 !important;}

.u-mg-btm-mid {
  margin-bottom: 4rem !important;
}

.u-font-wight-mid { font-weight: 500 !important;}