$avenir: "AvenirLTStd-Book",sans-serif;

$tiaa-blue: #005791;
$green: #006244;
$charles-blue: #00A1E0;
$blue: #4E78F6;
$blue-light: lighten($blue, 20%);
$background-grey: #f0f0f0;
$light-grey: #BFC6CF;
$light-grey-2: #F0F0F0;

$dark-grey: #6F6F6F;

$box-shadow: 0 20px 47px rgba(180, 182, 196, 0.22);

$msg-border: 0 1rem 1rem 1rem;
$msg-border-right: 1rem 0 1rem 1rem;

$phone-height: 66rem;
$phone-width: 37rem;