.heading {
  color: $dark-grey;
  font-size: 3.5rem;
  line-height: 1.4;
  width: 55%;
  margin: 0 auto;

  &--blue {
    color: $blue;
  }
  &--secondary {
    width: 80%;
    color: $dark-grey;
    font-size: 3rem;
    text-align: center;
    margin: 7rem auto;
  }
  &--tertiary {
    width: 80%;
    color: $dark-grey;
    font-size: 2.6rem;
    text-align: center;
    margin: 3rem auto;
  }
  &--white {
    width: 80%;
    color: #fff;
    font-size: 2.6rem;
    text-align: center;
    margin: 1.5rem auto;
    line-height: 1.4;
  }
}
.text {
  text-decoration: none;
  font-family: $avenir;
  font-size: 1.7rem;
  padding: 3rem;
  line-height: 1.4;

  &--grey {
    color: $light-grey;
    font-weight: 600;
    font-size: 1.5rem;
    text-align: center;
  }
  &--blue {
    color: $blue;
    text-decoration: none;
  }
  &--blue-large {
    color: $blue;
    text-align: center;
    font-weight: 600;
    font-size: 1.5rem;
  }

  &--white {
    color: #fff;
    text-align: center;
    padding: 0;
  }
}