.heading {
  color: $grey;
  font-size: 3.5rem;
  line-height: 1.4;
  margin: 3rem auto 3rem 15%;

  &--home {
    margin: 3rem auto;
    font-size: 2.4rem;
    color: $grey;
    text-align: center;

    &--blue {
      color: $blue;
    }
  }

  &--option {
    color: $grey;
    font-size: 3rem;
    margin: 0 auto 1.5rem auto;
  }

  &--dark {
    color: $dark-grey-2;
    width: 90%;
    font-size: 2.2rem;
    margin: 3rem auto;
  }

  &--blue {
    color: $blue;

    &--2 {
      font-family: $inter-light;
      font-weight: 100;
      font-size: 2.6rem;
    }
  }
  &--secondary {
    width: 80%;
    color: $grey;
    font-size: 3rem;
    text-align: center;
    margin: 7rem auto;
  }
  &--tertiary {
    width: 80%;
    color: $dark-grey;
    font-size: 2.6rem;
    text-align: center;
    margin: 3rem auto;
  }
  &--top {
    width: 90%;
    font-family: $inter-bold;
    font-weight: 800;
    color: $dark-grey;
    font-size: 2.4rem;
    margin: 3rem auto;
    text-align: left;
  }
  &--grey {
    color: $dark-grey;
    font-size: 1.6rem;
    font-weight: 800;
    margin: 0 5% 4rem 8%;
  }
  &--white {
    font-family: $inter-light;
    width: 80%;
    color: #fff;
    font-size: 3rem;
    text-align: center;
    margin: 1.5rem auto;
    line-height: 1.4;
  }

  &--grey-md {
    color: $dark-grey;
    font-size: 2.4rem;
    width: 80%;
    margin: 2rem auto;
  }
}
.text {
  text-decoration: none;
  font-family: $inter-bold;
  color: $dark-grey-2;
  font-weight: 600;
  font-size: 1.6rem;
  padding: 2rem 3rem;
  line-height: 1.4;

  &--grey {
    font-family: $inter-light;
    color: $dark-grey;
    font-weight: 600;
    font-size: 1.5rem;
    text-align: center;

    &--sm {
      font-size: 1.4rem;
      padding: .5rem 2rem;
    }
  }
  &--blue {
    color: $blue;
    text-decoration: none;
    font-weight: 900;
    text-align: center;
  }
  &--blue-large {
    font-family: $inter-bold;
    color: $blue;
    font-weight: 800;
    font-size: 1.6rem;
    text-align: left;
    padding: 0 3rem;
  }

  &--white {
    color: #fff;
    text-align: center;
    padding: 0;
  }

  &--highlight {
    background-color: $light-blue;
    text-decoration: none;
    padding: 4px 3px;
    color: $dark-grey-2;
  }

  &--black {
    padding: 1.5rem;
    font-family: $inter-bold;
    font-weight: 800;
    font-size: 2.2rem;
    color: #000;
    padding-bottom: .7rem;
    line-height: 1.6;

    &--2 {
      color: #000;
      font-size: 2.8rem;
      font-weight: 900;
      text-align: center;
      margin-bottom: .5rem;
    }
    &--sm {
      color: #000;
      font-size: 1.6rem;
    }

    &--md {
      font-size: 2.6rem;
    }
  }
}

.small {
  font-size: 1.8rem;
  font-weight: 900;
  margin-right: 1px;
}

.grey-bold {
  font-family: $inter-bold;
  font-weight: bold;
  color: $dark-grey;
  font-size: 2rem !important;
  width: 80%;
  margin: 3rem auto;
}

.blue-text {
  font-family: $inter-bold;
  color: $blue;
  font-size: 1.4rem;
  margin-bottom: 3rem;
  align-self: flex-start;
  text-align: left;
}

.white-text {
  color: #fff !important;
  &::after {
    color: #fff !important;
  }
}

.note-text {
  font-size: 1.4rem;
  color: $dark-grey-2;
  padding: 1.5rem;
  width: 75%;
  margin: 0 auto;
  position: relative;
  left: 10%;

  &--sm {
    font-size: 1.4rem !important;
    margin-bottom: .5rem !important;
    color: $dark-grey;
  }

  &--mid {
    font-size: 1.6rem;
  }

  &--blue {
    color: $blue;
  }

  &::before {
    content: url("../../assets/img/light@2x.png");
    height: 100%;
    margin-right: 1rem;
    position: absolute;
    left: -2rem;
  }
}

.underline {
  font-family: $inter-bold;
  font-size: 1.4rem;
  text-decoration: underline;
  color: $grey;

  &:hover,
  &:focus {
    color: $blue;
  }
}

.blue-heading {
  display: flex;
  align-items: center;
  background-color: $light-blue;
  padding: .8rem 0;
  width: 90%;
  margin: 1.5rem auto;
  border-radius: 3px;

  &__img {
    margin: 0 1.5rem;
    width: 2.5rem;
    height: auto;
  }

  &__text {
    color: $blue;
    font-family: $inter-bold;
    font-weight: bold;
  }
}

.green-heading {
  padding: 1.3rem 1.8rem;
  width: 85%;
  margin: 1.5rem auto;
  background-color: $green;

  &__text {
    font-family: $inter-light;
    color: #fff;
    font-size: 2rem;
  }
}

.blue-heading-light {
  @extend .green-heading;
  background-color: $charles-blue;

  &__text {
    @extend .green-heading__text;
  }
}





.blue-bg-text {
  color: $blue;
  background-color: $light-blue;
  font-size: 1.8rem;

  margin: .5rem auto;
  width: 80%;
  padding: 1rem 1rem 1rem 3rem;
}










