.search {
  background: #fff;
  width: 80%;
  margin: 3rem auto;
  border-radius: .5rem;
  border: none;
  padding: 1rem;
}

.companies {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  &__link {
    width: 50%;
    align-self: center;
  }

  &__logo {
    width: 60%;
    height: 5rem;
    background: #fff;
    padding: 1rem 1.5rem;
    margin: 1rem 2rem;
    border-radius: 1rem;

    &--sm {
      height: 3rem;
      padding: 2rem;
    }
  }
}