<div class="chat welcome" onscroll="updateScroll()">
    <img src="{{ site.baseurl }}/assets/img/Account-Aggregation-Header.png" alt="" class="top">

    <h2 class="heading heading--tertiary text-left">Account To Transfer:</h2>
    <img src="{{ site.baseurl }}/assets/img/TIAA_Card.png"  class="card card--1">

    <h3 class="heading heading--tertiary text-left">Current Transfer Options:</h3>
    <img src="{{ site.baseurl }}/assets/img/cards.png"  class="card">

    <div class="flex">
          <a href="{{ site.baseurl }}/link_ira" class="btn u-width-sm">Add An Account</a>
          <a href="{{ site.baseurl }}/henry" class="btn u-width-sm">Continue</a>
      </div>

</div>