<div class="chat welcome" onscroll="updateScroll()">
    <div class="top">
        <h3 class="manifest"><a class="backArrow" onclick="goBack()"></a>Manifest</h3>
        <div class="line--2"></div>
    </div>

    <div class="blue-heading">
        <img src="{{ site.baseurl }}/assets/img/dropbox.png" alt="" class="blue-heading__img">
        <h1 class="blue-heading__text">Account to Transfer</h1>
    </div>

    <div class="money">
        <p class="money__co">TIAA</p>
        <p class="money__dollar">$8,000.00</p>
    </div>
    <p class="money__visa u-mg-btm-mid">*****9688</p>

    <div class="blue-heading">
        <img src="{{ site.baseurl }}/assets/img/dropbox.png" alt="" class="blue-heading__img">
        <h1 class="blue-heading__text">Destination Account</h1>
    </div>

    <div class="money">
        <p class="money__co">Fidelity</p>
        <p class="money__dollar money__dollar--edit" onclick="goToOtherPage()">$6,000.00</p>
    </div>
    <p class="money__visa">*****8678</p>

    <a href="{{ site.baseurl }}/prepare_transfer" class="btn-large btm-fixed">Transfer</a>

</div>

<script>
    function goToOtherPage () {
        window.location = "{{ site.baseurl }}/account_change"
    }
</script>