<div class="chat welcome">
    <div class="top">
        <h3 class="manifest"><a class="backArrow" onclick="goBack()"></a>Manifest</h3>
        <div class="line--2"></div>
    </div>

    <h1 class="heading">Your Account was <span class="heading--blue">successfully </span>created!</h1>

    <img src="{{ site.baseurl }}/assets/img/check.png" alt="" class="check u-mg-mid">

    <h2 class="text u-text-center-padded">Let's begin by linking your existing University of Chicago TIAA retirement account. </h2>

    <a href="{{ site.baseurl }}/tiaa_login" class="btn-large btm-fixed">Continue &nbsp; &rarr;</a>
</div>
