<div class="chat welcome">
    <div class="top">
        <h3 class="manifest"><a class="backArrow" onclick="goBack()"></a>Manifest</h3>
        <div class="line--2"></div>
    </div>

    <h1 class="text--black mg-btm-mid">Do you have an active 401(k) with your current employer?</h1>

    <ul class="list" id="list">
        <li class="radio-row radio-row--2">
            <label for="selection2" class="item">Yes, I do
                <input id="selection2" type="radio" name="selection2" class="radio-input" onclick="onCheck(this)" value="{{ site.baseurl }}/link_account_info">
                <span class="radio-img"></span>
            </label>
        </li>

        <li class="radio-row radio-row--2">
            <label for="selection1" class="item">No, I don't
                <input id="selection1" type="radio" name="selection1"  class="radio-input" onclick="onCheck(this)" value="{{ site.baseurl }}/active_months">
                <span class="radio-img"></span>
            </label>
        </li>
    </ul>

    <p class="note-text mg-btm-mid">You can change your answer in the future. Regardless, Manifest will help you move your account.</p>

    <a id="addLink" class="btn-large btm-fixed">Continue</a>

</div>