<div class="chat welcome back-blue-light" onscroll="updateScroll()">
      <img src="{{ site.baseurl }}/assets/img/CharlesSchwab_Header.png" alt="" class="top">

    <img src="{{ site.baseurl }}/assets/img/charles-schwab-logo-white.png" alt="" class="charles-logo">

    <form action="" class="tiaa-form">
        <label for="user" class="tiaa-form__label">User ID</label>
        <input type="text" name="user" class="tiaa-form__input back-blue-light">

        <label for="password" class="tiaa-form__label">Password</label>
        <input type="password" name="password" class="tiaa-form__input u-mg-btm-mid back-blue-light">
    </form>

    <a href="{{ site.baseurl }}/charles_success/" class="btn-large charles-btn">Login &nbsp; &rarr;</a>

    <p class="text text--white">Reset Password</a>

</div>