<div class="chat welcome" onscroll="updateScroll()">
    <div class="top">
        <h3 class="manifest"><a class="backArrow" onclick="goBack()"></a>Manifest</h3>
        <div class="line--2"></div>
    </div>

    <h1 class="heading"><span class="heading--blue">Close </span> your <br> Loans</h1>

    <div class="placeholder"></div>

    <p class="text u-text-padding-sm">Since you no longer work at University of Chicago, if you don’t close this loan you will default. </p>

    <p class="text u-text-padding-sm">To find out more about how you can close this loan please visit: <span class="text--blue">https://www.tiaa.org/public/support/faqs/loans</span></p>

    <p class="text u-text-padding-sm">
        Once the loan is closed, please log back into Manifest and we can initiate your transfer.</p>

    <a href="{{ site.baseurl }}/home_1/" class="btn-large btm-fixed">Continue</a>

</div>
