<div class="chat welcome">
    <div class="top">
        <h3 class="manifest">Manifest</h3>
        <div class="line--2"></div>
    </div>


    <h1 class="heading--top text-center">Compare <span class="highlight--blue">IRA</span> and <span
            class="highlight--blue">Robo</span> providers</h1>

    <div class="companies u-mg-btm-mid">
        <a href="{{ site.baseurl }}/fidelity_login" class="companies__link">
            <img src="{{ site.baseurl }}/assets/img/FidelityLogo.png"
                 class="companies__logo companies__logo--green companies__logo--sm">
        </a>
        <a href="{{ site.baseurl }}/fidelity_login" class="companies__link">
            <img src="{{ site.baseurl }}/assets/img/td.png" class="companies__logo companies__logo--light-green">
        </a>
    </div>

    <div class="compare-row">
        <div class="col-2">
            <p class="blue-text">Trading Platform</p>
            <p class="price">$495</p>
        </div>
        <div class="col-2">
            <p class="blue-text">Trading Platform</p>
            <p class="price">$270</p>
        </div>
    </div>

    <div class="compare-row">
        <div class="col-2">
            <p class="blue-text">Trading Costs</p>
            <p class="price price--sm">Moderate</p>
        </div>
        <div class="col-2">
            <p class="blue-text">Trading Costs</p>
            <p class="price price--sm">High</p>
        </div>
    </div>

    <div class="compare-row">
        <div class="col-2">
            <p class="blue-text">Research Info</p>
        </div>
        <div class="col-2">
            <p class="blue-text">Research Info</p>
        </div>
    </div>

    <div class="compare-row">
        <div class="col-2">
            <p class="blue-text">Tradeable Securities</p>
        </div>
        <div class="col-2">
            <p class="blue-text">Tradeable Securities</p>
        </div>
    </div>

    <div class="btn-container u-btm-none">
        <a href="{{ site.baseurl }}/fidelity_list" class="btn">Select</a>
        <a href="{{ site.baseurl }}/fidelity_list" class="btn">Select</a>
    </div>
</div>
