<div class="chat" onscroll="">
    <div class="top">
        <h3 class="manifest"><a class="backArrow" onclick="goBack()"></a>Manifest</h3>
        <div class="line--2"></div>
    </div>

    <header class="header">
        <h1 class="heading heading--blue mg-top-btm-sm">Congratulations!</h1>
<!--        <img src="{{ site.baseurl }}/assets/img/henry.png" alt="" class="header__img">-->
        <div class="placeholder"></div>
    </header>

    <p class="text">You have completed the first step. Our <span class="blue-text">Transfer Specialist</span> will guide you through the next steps.</p>

    <ul class="henry-list">
        <li class="item">
            <div class="circle-number circle-number--blue">1</div>
            Organize your retirement account options
        </li>
        <li class="item">
            <div class="circle-number">2</div>
            Understand your financial preferences
        </li>
        <li class="item">
            <div class="circle-number">3</div>
            Identify the best destination for you
        </li>
    </ul>

    <a class="btn btm-fixed" href="{{ site.baseurl }}/henry">Continue</a>
</div>

