<div class="chat welcome">
    <div class="top">
        <h3 class="manifest"><a class="backArrow" onclick="goBack()"></a>Manifest</h3>
        <div class="line--2"></div>
    </div>

    <h1 class="text--black mg-btm-mid">Is your destination account open?</h1>

    <ul class="list" id="list">

        <li class="radio-row radio-row--2">
            <label for="selection1" class="item">Yes, it's open
                <input id="selection1" type="radio" name="selection1"  class="radio-input" onclick="onCheck(this)" value="{{ site.baseurl }}/tiaa_balance">
                <span class="radio-img top-sm"></span>
            </label>
        </li>

        <li class="radio-row radio-row--2">
            <label for="selection2" class="item">No, I need to open it
                <input id="selection2" type="radio" name="selection2" class="radio-input" onclick="onCheck(this)" value="{{ site.baseurl }}/account_type">
                <span class="radio-img top-sm"></span>
            </label>
        </li>
    </ul>

    <a id="addLink" class="btn-large btm-fixed">Continue</a>

</div>