<div class="chat welcome">
    <div class="top">
        <h3 class="manifest"><a class="backArrow" onclick="goBack()"></a>Manifest</h3>
        <div class="line line--2"></div>
    </div>

    <h1 class="heading mg-top-btm-sm">We are
        <br>
        <span class="heading heading--blue">here to help</span>
    </h1>

    <img src="{{ site.baseurl }}/assets/img/dont_worry.png" alt="" class="dont_worry">

    <p class="note-text note-text--mid">Most people don’t know where to transfer. We have a process to help you decide. Here is what you should expect</p>

    <ul class="circle-list">
        <li class="circle-list__item">
            <div class="circle-number">1</div>
            Understand your current retirement accounts
        </li>
        <li class="circle-list__item">
            <div class="circle-number">2</div>
            Learn your financial preferences
        </li>
        <li class="circle-list__item">
            <div class="circle-number">3</div>
            Help identify the best destination for you
        </li>
    </ul>

    <a id="addLink" class="btn btm-fixed" href="{{ site.baseurl }}/active">Continue</a>

</div>