<div class="chat welcome">
    <div class="top">
        <h3 class="manifest"><a class="backArrow" onclick="goBack()"></a>Manifest</h3>
        <div class="line line--2"></div>
    </div>

    <h1 class="heading mg-auto">We Are
        <br>
        <span class="heading--blue">Here to Help</span>
    </h1>

    <img src="{{ site.baseurl }}/assets/img/dont_worry.png" alt="" class="dont_worry">

    <p class="note-text no-before width-90" style="left: 0;">Most people don’t know where to transfer their savings. These steps will help you decide:</p>

    <ul class="circle-list">
        <li class="circle-list__item">
            <div class="circle-number">1</div>
            Organize your retirement account options
        </li>
        <li class="circle-list__item">
            <div class="circle-number">2</div>
            Understand your financial preferences
        </li>
        <li class="circle-list__item">
            <div class="circle-number">3</div>
            Identify the best destination for you
        </li>
    </ul>

    <a id="addLink" class="btn btm-fixed" href="{{ site.baseurl }}/active">Continue</a>

</div>