<div class="chat welcome back-green">
    <div class="top">
        <h3 class="verify-code white-text">Enter Your Credentials <a class="x white-text" onclick="goBack()"></a></h3>
        <div class="line--2"></div>
    </div>

    <img src="{{ site.baseurl }}/assets/img/FidelityLogo.png" alt="" class="fidelity-logo">

    <h1 class="heading--white u-mg-mid">Your Account was linked successfully!</h1>

    <img src="../assets/img/Fidelity_Successful_Check.png" alt="" class="check">

    <a href="{{ site.baseurl }}/link_second/" class="btn-large fidelity-btn btm-fixed">Continue</a>
</div>