<div class="chat welcome" onscroll="updateScroll()">
    <div class="top">
        <h3 class="manifest"><a class="backArrow" onclick="goBack()"></a>Manifest</h3>
        <div class="line--2"></div>
    </div>

    <h1 class="heading mg-auto">Finalize your <br>
        <span class="heading--blue">Destination</span></h1>

    <div class="placeholder"></div>

    <p class="text">Looks like you have <span class="text--blue">more than one</span> account to choose from. To help you decide, consider the following:</p>

    <ul class="list-bullets">
        <li>The difference between your investment returns and fees
        </li>
        <li>Quality of customer support</li>
        <li>Quantity of research reports</li>
        <li>Simple user interface</li>
    </ul>
    <a href="{{ site.baseurl }}/select_ira/" class="btn-large btm-fixed">Continue</a>
</div>


