<div class="chat welcome" onscroll="updateScroll()">
    <div class="top">
        <h3 class="manifest"><a class="backArrow" onclick="goBack()"></a>Manifest</h3>
        <div class="line--2"></div>
    </div>

    <h1 class="heading--home">Good Evening, <span class="heading--home--blue">Katie</span></h1>

    <p class="text--home">Next Up</p>

    <div class="box" onclick="goToPartTwo()">
        <img class="box__img" src="{{ site.baseurl }}/assets/img/dropbox.png">
        <div class="box__text">Finalize your tranfer paperwork</div>
        <span class="blue-arrow">&nbsp; &nbsp; &rarr;</span>
    </div>

    <p class="text--home">Completed</p>

    <div class="box u-mg-btm-1">
        <img class="box__img" src="{{ site.baseurl }}/assets/img/tiaa_circle.png">
        <div class="box__text">We are helping you transfer your University of Chicago retirement account.</div>
    </div>
    <div class="box">
        <img class="box__img" src="{{ site.baseurl }}/assets/img/wells_circle.png">
        <div class="box__text">You have decided to move your University of Chicago retirement account to Wells Fargo, IRA</div>
    </div>

</div>

<script>
    function goToPartTwo() {
        window.location = "{{ site.baseurl }}/transfer_account"
    }
</script>