<div class="chat welcome" onscroll="updateScroll()">
    <div class="top">
        <h3 class="manifest"><a class="backArrow" onclick="goBack()"></a>Manifest</h3>
        <div class="line--2"></div>
    </div>

    <h1 class="heading--home">Good Evening, <span class="heading--home--blue">Katie</span></h1>

    <p class="text--home">Next Up</p>

    <div class="box">
        <div class="box__img"></div>
        <div class="box__text">Link your existing retirement accounts (401k, 403b, TSP, 457)</div>
    </div>

    <p class="text--home">Completed</p>

    <div class="box">
        <div class="box__img"></div>
        <div class="box__text">We are helping you transfer your University of Chicago retirement account.</div>
    </div>

</div>
