<div class="chat welcome" onscroll="updateScroll()">
<div class="top">
    <h3 class="manifest">Manifest</h3>
    <div class="line--2"></div>
</div>


    <div class="placeholder"></div>

    <h1 class="heading">Welcome to <span class="heading--blue">Manifest!</span></h1>

    <p class="text">You've worked hard to build your savings. Don't let a job change derail your retirement goals. Manifest can help you identify the best way to keep your balance growing.</p>

    <p class="text--blue-large">Before you start:</p>
    <ul class="list-bullets">
        <li>Have all your active retirement <span class="text--blue">accounts login ready</span> (401(k), 401(b), IRA or Robo)</li>
        <li>Allocate <span class="text--blue">15 minutes</span> to complete the process</li>
    </ul>

    <a href="{{ site.baseurl }}/requirements/" class="btn-large btm-fixed">Get Started</a>


        <p class="text--grey btm">Already have an account? <a href="{{ site.baseurl }}/signIn/" class="text--blue">Sign In</a></p>

</div>
