<div class="chat welcome" onscroll="updateScroll()">
<div class="top">
    <h3 class="manifest">Manifest</h3>
    <div class="line--2"></div>
</div>

    <h1 class="heading mg-auto">Welcome to <br>
        <span class="heading--blue">Manifest!</span></h1>

    <div class="placeholder"></div>

    <p class="text">You’ve worked hard to build your savings. Manifest helps you find the best way to keep your money growing so a new job doesn’t hinder your retirement goals.</p>

    <p class="text--blue-large">Before you start:</p>
    <ul class="list-bullets">
        <li>You’ll need your retirement <span class="text--blue">account logins ready</span> (401(k), 403(b), IRA , or Managed IRAs)</li>
        <li>Set aside <span class="text--blue">15 minutes</span> to complete the process</li>
    </ul>

    <a href="{{ site.baseurl }}/requirements/" class="btn-large btm-fixed">Get Started</a>


        <p class="text--grey btm">Already have an account? <a href="{{ site.baseurl }}/signIn/" class="text--blue">Sign In</a></p>

</div>

