<div class="chat welcome" onscroll="updateScroll()">
    <div class="top">
        <h3 class="manifest"><a class="backArrow" onclick="goBack()"></a>Manifest</h3>
        <div class="line--2"></div>
    </div>

    <h1 class="text--black mg-btm-small">You are almost there! To initiate your transfer you have to open your account.</h1>

    <p class="text--blue-large">Keep in mind:</p>
    <ul class="list-bullets">
        <li>You will need to open two accounts. Both a <a href="#" class="text--highlight">Roth</a> and
            <a href="#" class="text--highlight"> Traditional</a>
            account
        </li>
        <li>Be prepared. Opening an account can be a lengthy process.</li>
    </ul>

    <p class="text">Once your account is open, please log back into Manifest, so we can initiate your transfer.</p>

    <p class="text padding-sm">Do you need help choosing the right destination account or provider? Simply click the menu to modify your choice.</p>

    <a href="{{ site.baseurl }}/congrats_1/" class="btn-large btm-fixed">Done</a>

</div>
