<div class="chat welcome">
    <div class="top">
        <h3 class="manifest"><a class="backArrow" onclick="goBack()"></a>Manifest</h3>
        <div class="line--2"></div>
    </div>

    <h1 class="heading--dark padding-sm no-mg-btm">Based on your answers, our recommendation for your destination account type is:</h1>

    <p class="note-text padding-sm-2">Manifest is conflict free. We get compensated by your employer and not based on your decision.</p>

    <div class="long-box long-box--tall">
        <h2 class="heading heading--blue text-center mg-btm-small">IRA</h2>
        <p class="text--grey--sm">
            Opportunity to actively manage your investments
        </p>
        <p class="text--grey--sm">
            Greater flexibility to invest in various kinds of assets
        </p>
        <p class="text--grey--sm">
            High potential to maximize returns
        </p>
    </div>

    <a href="{{ site.baseurl }}/option_2" class="explore">Change My Decision ></a>

    <a class="btn" href="{{ site.baseurl }}/option_2">Select IRA</a>

</div>