<div class="chat welcome" onscroll="updateScroll()">
    <div class="top">
        <h3 class="manifest"><a class="backArrow" onclick="goBack()"></a>Manifest</h3>
        <div class="line--2"></div>
    </div>

    <h1 class="heading--home">Select an <span class="heading--home--blue">IRA provider</span></h1>

    <div class="box">
        <img class="box__img" src="{{ site.baseurl }}/assets/img/wells_circle.png">
        <div class="box__text">Finalize your tranfer paperwork</div>
    </div>

    <div class="box">
        <img class="box__img" src="{{ site.baseurl }}/assets/img/fidelity_circle.png">
        <div class="box__text">We are helping you transfer your University of Chicago retirement account.</div>
    </div>
    <div class="box">
        <img class="box__img" src="{{ site.baseurl }}/assets/img/charles_circle.png">
        <div class="box__text">You have decided to move your University of Chicago retirement account to Wells Fargo, IRA</div>
    </div>

</div>
