<div class="chat welcome" onscroll="updateScroll()">
    <div class="top">
        <h3 class="manifest"><a class="backArrow" onclick="goBack()"></a>Manifest</h3>
        <div class="line--2"></div>
    </div>

    <h1 class="heading--dark text-center">Select an <span class="heading--home--blue">IRA provider</span></h1>

    <div class="large-box" id="wells">
        <img src="{{ site.baseurl }}/assets/img/wells_circle.png" alt="" class="img-left" id="circle">
        <div class="flex-row">
            <div class="flex-col mg-right">
                <p class="box__text box__text--grey">FEES:</p>
                <p class="text--black--sm">$400</p>
            </div>
            <div class="flex-col">
                <p class="box__text box__text--grey">Acct. Min.:</p>
                <p class="text--black--sm">$400</p>
            </div>
        </div>

        <div class="flex-row">
            <div class="flex-col mg-right-sm">
                <p class="box__text box__text--grey">Mobile App:</p>
                <p class="text--black--sm">YES</p>
            </div>
            <div class="flex-col">
                <p class="box__text box__text--grey">RESEARCH:</p>
                <p class="text--black--sm">Good</p>
            </div>
        </div>

        <input id="selection1" type="radio" name="selection1" class="large-box__input" onclick="addText()">
        <span class="large-box__check"></span>

        <p id="addInText"></p>
    </div>
    <div class="large-box" id="fidelity">
        <img src="{{ site.baseurl }}/assets/img/fidelity_circle.png" alt="" class="img-left">
        <div class="flex-row">
            <div class="flex-col mg-right">
                <p class="box__text box__text--grey">FEES:</p>
                <p class="text--black--sm">$400</p>
            </div>
            <div class="flex-col">
                <p class="box__text box__text--grey">Acct. Min.:</p>
                <p class="text--black--sm">$400</p>
            </div>
        </div>

        <div class="flex-row">
            <div class="flex-col mg-right-sm">
                <p class="box__text box__text--grey">Mobile App:</p>
                <p class="text--black--sm">YES</p>
            </div>
            <div class="flex-col">
                <p class="box__text box__text--grey">RESEARCH:</p>
                <p class="text--black--sm">Moderate</p>
            </div>
        </div>

        <input id="selection2" type="radio" name="selection1" class="large-box__input" onclick="onCheck(this)" value="{{ site.baseurl }}/home_1">
        <span class="large-box__check"></span>
    </div>
    <div class="large-box">
        <img src="{{ site.baseurl }}/assets/img/charles_circle.png" alt="" class="img-left">
        <div class="flex-row">
            <div class="flex-col mg-right">
                <p class="box__text box__text--grey">FEES:</p>
                <p class="text--black--sm">$400</p>
            </div>
            <div class="flex-col">
                <p class="box__text box__text--grey">Acct. Min.:</p>
                <p class="text--black--sm">$400</p>
            </div>
        </div>

        <div class="flex-row">
            <div class="flex-col mg-right-sm">
                <p class="box__text box__text--grey">Mobile App:</p>
                <p class="text--black--sm">YES</p>
            </div>
            <div class="flex-col">
                <p class="box__text box__text--grey">RESEARCH:</p>
                <p class="text--black--sm">Good</p>
            </div>
        </div>

        <input id="selection3" type="radio" name="selection1" class="large-box__input" onclick="onCheck(this)" value="{{ site.baseurl }}/home_1">
        <span class="large-box__check"></span>
    </div>

    <div class="large-box">
        <div class="img-left img-left--placeholder"></div>

        <p class="large-box__header">CHOOSE MY OWN</p>

        <input id="selection4" type="radio" name="selection1" class="large-box__input" onclick="onCheck(this)" value="{{ site.baseurl }}/initiate_transfer">
        <span class="large-box__check"></span>
    </div>

    <a href="" class="btn btn-large" id="addLink">Continue</a>

</div>

<script>

    function addText() {
        const circle = document.getElementById('circle');
        circle.style.top = "15%";

        const wells = document.getElementById('wells');
        wells.style.minHeight = "21rem";

        const addInText = document.getElementById('addInText');
        addInText.style.display = "flex";
        addInText.style.opacity = 1;

        addInText.innerText = "Merrill Edge offers high-quality customer service, robust research, and low commissions and fees, all with no account minimum for IRA investors."
    }

</script>