<div class="chat welcome" onscroll="updateScroll()">
    <div class="top">
        <h3 class="manifest"><a class="backArrow" onclick="goBack()"></a>Manifest</h3>
        <div class="line--2"></div>
    </div>

    <h1 class="heading--dark text-center">Select an <span class="heading--home--blue">IRA provider</span></h1>

    <div class="box box--large">
        <img class="box__img" src="{{ site.baseurl }}/assets/img/wells_circle.png">


        <div class="col">
            <div class="col">
                <div class="box__text box__text--grey">Fees</div>
                <div class="box__text">$400</div>
            </div>

            <div class="col">
                <div class="box__text box__text--grey">Acct. Min.</div>
                <div class="box__text">$400</div>
            </div>
        </div>

        <div class="col">
            <div class="col">
                <div class="box__text box__text--grey">Mobile App</div>
                <div class="box__text">Yes</div>
            </div>

            <div class="col">
                <div class="box__text box__text--grey">Research</div>
                <div class="box__text">Good</div>
            </div>
        </div>

        <img class="box__check" src="{{ site.baseurl }}/assets/img/silver-check.png">
    </div>



    <div class="box">
        <img class="box__img" src="{{ site.baseurl }}/assets/img/fidelity_circle.png">
        <div class="box__text">We are helping you transfer your University of Chicago retirement account.</div>
    </div>
    <div class="box">
        <img class="box__img" src="{{ site.baseurl }}/assets/img/charles_circle.png">
        <div class="box__text">You have decided to move your University of Chicago retirement account to Wells Fargo, IRA</div>
    </div>

    <a href="" class="btn btn-large">Continue</a>

</div>
