<div class="chat welcome" onscroll="updateScroll()">
    <img src="{{ site.baseurl }}/assets/img/top.png" alt="" class="top">

    <h1 class="heading heading--secondary u-mg-btm-less">What accounts do you currently have?</h1>
    <h2 class="heading--tertiary u-font-mid">Please select the first one to link:</h2>

    <div class="button-col">
        <a href="{{ site.baseurl }}/link_other" class="btn">Current 401(k) <small>(Recommended for test)</small></a>
        <a href="{{ site.baseurl }}/link_other" class="btn btn-dark-grey">Current 401(b)</a>
        <a href="{{ site.baseurl }}/link_ira" class="btn btn-dark-grey">Current IRA</a>
        <a href="{{ site.baseurl }}/henry" class="btn btn-dark-grey">No Other Accounts</a>

    </div>

</div>