<div class="chat welcome" onscroll="updateScroll()">
    <img src="{{ site.baseurl }}/assets/img/top.png" alt="" class="top">

    <h1 class="heading heading--secondary">Where do you want to transfer?</h1>

    <div class="button-col">
        <a href="{{ site.baseurl }}/link_other" class="btn">Current 401(k)</a>
        <a href="{{ site.baseurl }}/link_other" class="btn">Current 401(b)</a>
        <a href="{{ site.baseurl }}/link_ira" class="btn">Current IRA</a>
        <a href="{{ site.baseurl }}/know_yes" class="btn">Into an IRA that needs to be opened</a>
        <a href="{{ site.baseurl }}/know_no" class="btn">Actually, I don't know</a>
    </div>

</div>