<div class="chat welcome" onscroll="updateScroll()">
    <img src="{{ site.baseurl }}/assets/img/top.png" alt="" class="top">

    <h1 class="heading heading--secondary">Do you know where you want to transfer your TIAA account?</h1>

    <div class="button-col">
        <a href="{{ site.baseurl }}/know_yes" class="btn btn-dark-grey">Yes, I do</a>
        <a href="{{ site.baseurl }}/know_no" class="btn">No, I don't</a>
        <a href="{{ site.baseurl }}/know" class="btn">Yes, but still help</a>
    </div>

</div>