<div class="chat welcome" onscroll="updateScroll()">
    <img src="{{ site.baseurl }}/assets/img/top.png" alt="" class="top">


    <h1 class="heading u-mg-sm u-width-mid">Link your IRA account</h1>

        <input type="text" class="search" placeholder="Search">

     <div class="companies">
         <a href="{{ site.baseurl }}/charles_login" class="companies__link">
            <img src="{{ site.baseurl }}/assets/img/charles-schwab-logo.png" class="companies__logo companies__logo--sm">
          </a>
     </div>
</div>