<div class="chat welcome" onscroll="updateScroll()">
    <img src="{{ site.baseurl }}/assets/img/top.png" alt="" class="top">

    <h1 class="heading heading--secondary">How would you rate your current IRA provider?</h1>

    <div class="button-col">
        <a href="{{ site.baseurl }}/link_third" class="btn">Love It</a>
        <a href="{{ site.baseurl }}/link_third" class="btn">Like It</a>
        <a href="{{ site.baseurl }}/link_third" class="btn">Don't Mind</a>
         <a href="{{ site.baseurl }}/link_third" class="btn">Hate It</a>
    </div>
</div>