<div class="chat welcome" onscroll="updateScroll()">
    <img src="{{ site.baseurl }}/assets/img/top.png" alt="" class="top">

    <h1 class="heading heading--secondary">Please select the third account to link.</h1>

    <div class="button-col">
        <a href="{{ site.baseurl }}/link_other" class="btn">Current 401(k)</a>
        <a href="{{ site.baseurl }}/link_other" class="btn">Current 401(b)</a>
        <a href="{{ site.baseurl }}/link_ira" class="btn">Current IRA</a>
        <a href="{{ site.baseurl }}/account_aggregation" class="btn">No Other Accounts</a>
    </div>
</div>