<div class="chat welcome" onscroll="updateScroll()">
    <div class="top">
        <h3 class="manifest"><a class="backArrow" onclick="goBack()"></a>Manifest</h3>
        <div class="line--2"></div>
    </div>

    <h1 class="heading mg-top-btm-sm">
        Link
        <span class="heading--blue">
            your
            <br>
            Accounts</span>
    </h1>

    <div class="placeholder"></div>

    <p class="text">For us to accurately understand your options, please <span class="text--blue">link all your retirement accounts</span> including 401k, 403b, TSP, 457 and IRA.</p>

    <a href="{{ site.baseurl }}/link_other_wells/" class="btn-large btm-fixed">Continue</a>

</div>
