<div class="chat welcome" onscroll="updateScroll()">
    <img src="{{ site.baseurl }}/assets/img/top.png" alt="" class="top">

    <h1 class="heading--top">How would you rate your current IRA provider?</h1>

           <div class="col">
                        <div class="row">
                            <p class="option">Love it</p>
                            <a href="{{ site.baseurl }}/link_third"><img src="{{ site.baseurl }}/assets/img/silver-check.png" alt="" class="option__check"></a>
                        </div>

                         <div class="row">
                            <p class="option">Like it</p>
                            <a href="{{ site.baseurl }}/link_third"><img src="{{ site.baseurl }}/assets/img/silver-check.png" alt="" class="option__check"></a>
                         </div>

                         <div class="row">
                            <p class="option">Don't mind it</p>
                            <a href="{{ site.baseurl }}/link_third"><img src="{{ site.baseurl }}/assets/img/check_small.png" alt="" class="option__check"></a>
                         </div>

                         <div class="row">
                            <p class="option">Hate it</p>
                            <a href="{{ site.baseurl }}/link_third"><img src="{{ site.baseurl }}/assets/img/silver-check.png" alt="" class="option__check"></a>
                         </div>
                    </div>

                    <a href="{{ site.baseurl }}/link_third" class="btn btm-fixed">Continue</a>
        </div>
</div>