<div class="chat welcome">
    <div class="top">
        <h3 class="manifest"><a class="backArrow" onclick="goBack()"></a>Manifest</h3>
        <div class="line--2"></div>
    </div>

    <h1 class="heading--dark padding-sm no-mg-btm">We are dedicated to keep your retirement savings invested and growing. Our suggestion is:</h1>

    <p class="note-text padding-sm-2">Manifest is conflict free. We get compensated by your employer and not based on your decision.</p>

    <div class="long-box long-box--tall">
        <h2 class="heading--option">Option 3: <span class="heading--blue">Robo</span></h2>

        <p class="text--grey--sm">
            Easily invest in appropriate securities with minimum effort
        </p>
        <p class="text--grey--sm">
            As markets move, these accounts are adjusted to ensure it stays balanced
        </p>
        <p class="text--grey--sm">
            Automated investments for a low cost
        </p>
    </div>

    <div class="dot-container">
        <a href="{{ site.baseurl }}/ira/" class="dot dot--light">.</a>
        <a href="{{ site.baseurl }}/option_2/" class="dot dot--light">.</a>
        <a href="{{ site.baseurl }}/option_3/" class="dot">.</a>
    </div>


    <a class="btn btn-large" href="{{ site.baseurl }}/option_3">Select Robo</a>

</div>