<div class="chat welcome">
    <div class="top">
        <h3 class="manifest"><a class="backArrow" onclick="goBack()"></a>Manifest</h3>
        <div class="line--2"></div>
    </div>

    <h1 class="heading--dark padding-sm no-mg-btm">We are dedicated to keep your retirement savings invested and growing. Our suggestion is:</h1>

    <p class="note-text padding-sm-2">Manifest is conflict free. We get compensated by your employer and not based on your decision.</p>

    <div class="long-box long-box--2">
        <h2 class="heading--option">Option 2: <span class="heading--blue">401(k)</span></h2>

        <p class="note-text note-text--sm"><span class="blue-text">Note:</span> When we say 401(k) we mean any employer sponsored plan (e.g., 401b, 457, TSP)</p>

        <p class="text--grey--sm">
            This account offers a few unique protections: for example, there is a fiduciary tied to your account and bankruptcy protection
        </p>
        <p class="text--grey--sm">
            Most 401k plans offer loans, this could come in handy during an emergency
        </p>
        <p class="text--grey--sm">
            Building for retirement is easier when you can automatically save every time
        </p>
    </div>

    <div class="dot-container">
        <a href="{{ site.baseurl }}/ira/" class="dot dot--light">.</a>
        <a href="{{ site.baseurl }}/option_2/" class="dot">.</a>
        <a href="{{ site.baseurl }}/option_3/" class="dot dot--light">.</a>
    </div>


    <a id="addLink" class="btn btn-large" href="{{ site.baseurl }}/option_3">Select 401(k)</a>

</div>