<div class="chat welcome" onscroll="updateScroll()">
    <div class="top">
        <h3 class="manifest"><a class="backArrow" onclick="goBack()"></a>Manifest</h3>
        <div class="line--2"></div>
    </div>

    <h1 class="heading mg-auto">Our
        <span class="heading--blue">Goal</span></h1>

    <div class="placeholder mg-btm-mid"></div>

    <p class="text">Our goal is to pick the best provider to grow your savings. Every week we comb through hundreds of providers and objectively compare them. </p>

        <p class="text padding-sm">Earlier, Henry asked you a few questions. We have selected 2 accounts based on your answers.</p>


    <a href="{{ site.baseurl }}/select_ira/" class="btn-large btm-fixed">Continue</a>
</div>
