<div class="chat welcome" onscroll="updateScroll()">
    <div class="top">
        <h3 class="manifest"><a class="backArrow" onclick="goBack()"></a>Manifest</h3>
        <div class="line--2"></div>
    </div>

    <div class="green-heading">
        <h1 class="green-heading__text">Fidelity</h1>
    </div>

    <div class="money-card money-card--2">
        <p class="money__visa">No Penalty CD -9688</p>
        <div class="money">
            <p class="money__dollar">$8,000.00</p>
            <p class="blue-text money__acct">Account Type</p>
        </div>
    </div>
    <div class="money-card money-card--2">
        <p class="money__visa">Investment Acct. -7618</p>
        <div class="money">
            <p class="money__dollar">$5,000.00</p>
            <p class="blue-text money__acct">Account Type</p>
        </div>
    </div>
    <div class="money-card money-card--2">
        <p class="money__visa">Investment Acct. -2627</p>
        <div class="money">
            <p class="money__dollar">$2,000.00</p>
            <p class="blue-text money__acct">Account Type</p>
        </div>
    </div>


    <div class="blue-heading-light">
        <h1 class="blue-heading-light__text">Charles Schwab</h1>
    </div>
    <div class="money-card money-card--2">
        <p class="money__visa">*****9688</p>
        <div class="money">
            <p class="money__dollar">$8,000.00</p>
            <p class="blue-text money__acct">Account Type</p>
        </div>
    </div>
    <div class="money-card money-card--2">
        <p class="money__visa">*****7618</p>
        <div class="money">
            <p class="money__dollar">$5,000.00</p>
            <p class="blue-text money__acct">Account Type</p>
        </div>
    </div>

    <a href="{{ site.baseurl }}/congrats_2" class="btn-large">Continue</a>

</div>



