<div class="chat welcome">
    <div class="top">
        <h3 class="manifest"><a class="backArrow" onclick="goBack()"></a>Manifest</h3>
        <div class="line--2"></div>
    </div>

    <h1 class="text--black mg-btm-mid">As you open a new account, please give us a few seconds to prepare you transfer.</h1>

    <ul class="list" id="list">

        <li class="radio-row radio-row--2">
            <label for="selection1" class="item">Collecting information from <span class="text--blue">your TIAA</span>
            </label>
        </li>

        <li class="radio-row radio-row--2">
            <label for="selection2" class="item">
                Auto filling your forms
                <br>
                Looking up demographic data
                <br>
                Verifying your account type
                <br>
                Finalizing distribution details
                <br>
                Organizing employer Information
                <br>
                Linking destination account
            </label>
        </li>

        <li class="radio-row radio-row--2">
            <label for="selection2" class="item">Finalize and initiate transfer
            </label>
        </li>
    </ul>

    <a id="addLink" class="btn-large btm-fixed">Continue</a>

</div>