<div class="chat welcome">
    <div class="top">
        <h3 class="manifest"><a class="backArrow" onclick="goBack()"></a>Manifest</h3>
        <div class="line--2"></div>
    </div>

    <h1 class="text--black mg-btm-small">As you open a new account, please give us a few seconds to prepare you transfer.</h1>

    <ul class="list" id="list">

        <li class="radio-row radio-row--2">
            <label for="selection1" class="item">
                <b>
                    Collecting information from <span class="text--blue">your TIAA</span>
                </b>
            </label>
            <i class="fas fa-check blue-check blue-check--large"></i>
        </li>
    </ul>

    <div class="long-box">
        <p class="mg-btm-small black">
            <b>Auto filling your forms</b>
            <i class="fas fa-check blue-check blue-check--first"></i>
        </p>
        <p>
            <small>Searching demographic data</small>
            <i class="fas fa-check blue-check"></i>
        </p>
        <p>
            <small>Verifying your account type</small>
            <i class="fas fa-check blue-check"></i>
        </p>
        <p>
            <small>Finalizing distribution details</small>
            <i class="fas fa-check blue-check"></i>
        </p>
        <p>
            <small>Organizing employer Information</small>
            <i class="fas fa-check blue-check"></i>
        </p>
        <p>
            <small>Linking destination account</small>
            <span class="radio-img radio-img--caution radio-img--caution--sm"></span>
        </p>
    </div>

    <ul class="list">
        <li class="radio-row radio-row--2">
            <label for="selection2" class="item">
                <b>Finalize and initiate transfer</b>
                <span class="radio-img radio-img--caution"></span>
            </label>
        </li>
    </ul>

    <a id="addLink" class="btn-large">Continue</a>

</div>