

<div class="chat welcome">
 <div class="top">
     <h3 class="manifest">Manifest</h3>
     <div class="line--2"></div>
 </div>

    <h1 class="heading heading--blue u-mg-mid">Requirements</h1>

    <ul class="list">

        <li class="radio-row radio-row--2">
            <label for="selection1" class="item"> You have to have worked at this company (company name)
                <input type="radio" name="selection1" onclick="onCheck(this)" class="radio-input radio-input--left">
                <span class="radio-img radio-img--left"></span>
            </label>
        </li>

        <li class="radio-row radio-row--2">
            <label for="selection2" class="item"> You have to be terminated from this company (company name)
                <input type="radio" name="selection2" onclick="onCheck(this)" class="radio-input radio-input--left">
                <span class="radio-img radio-img--left"></span>
            </label>
        </li>

        <li class="radio-row radio-row--2">
            <label for="selection3" class="item"> You must have 401(k) balance in order to make the transfer
                <input type="radio" name="selection3" onclick="onCheck(this)" class="radio-input radio-input--left">
                <span class="radio-img radio-img--left"></span>
            </label>
        </li>

        <li class="radio-row radio-row--2">
            <label for="selection4" class="item"> You would like to transfer/rollover your 401(k) or want to learn about your options to rollover/transfer
                <input type="radio" name="selection4" onclick="onCheck(this)" class="radio-input radio-input--left">
                <span class="radio-img radio-img--left"></span>
            </label>
        </li>
    </ul>

    <a id="addLink" class="btn-large btm-fixed btn--disabled">Save &nbsp; &nbsp; &rarr;</a>
</div>

<script>
    function onCheck(choice) {
        console.log('clicked')
        // choice.classList.toggle('checked');
        const button = document.getElementById('addLink');
        if(choice){
            button.classList.remove("btn--disabled");
            button.classList.add("btn");
            button.href = choice.value;
        }
    }


    function toggleClass(x) {
        x.classList.toggle('checked');
        console.log(x)
    }

    const list = document.querySelector('.list');
    const items = list.getElementsByTagName("li");

    // console.log(list.childNodes)

    for(let i=0; i < list.length; i++){
        console.log(list[i])
    }


    const unchecked = "{{ site.baseurl }}/assets/img/silver-check.png";
    const checked = "{{ site.baseurl }}/assets/img/check_small.png";

</script>