

<div class="chat welcome">
    <div class="top">
        <h3 class="manifest"><a class="backArrow" onclick="goBack()"></a>Manifest</h3>
        <div class="line--2"></div>
    </div>

    <h1 class="heading u-mg-mid">Qualification <span class="heading--blue">Checklist</span></h1>

    <p class="heading--grey">Please select any one of the following options</p>
    <ul class="list" id="list">

        <li class="radio-row radio-row--2">
            <label for="selection1" class="item">I have a TIAA 403(b) account
                <input id="selection1" type="radio" name="selection1"  class="radio-input" onclick="onCheck(this)" value="{{ site.baseurl }}/create_account">
                <span class="radio-img"></span>
            </label>
        </li>

        <li class="radio-row radio-row--2">
            <label for="selection2" class="item">A previous 401(k) or 403(b) or 457 or TSP account
                <input id="selection2" type="radio" name="selection2" class="radio-input" onclick="onCheck(this)" value="{{ site.baseurl }}/create_account">
                <span class="radio-img"></span>
            </label>
        </li>
    </ul>

    <a class="btn-large btm-fixed" id="addLink">Save &nbsp; &nbsp; &rarr;</a>
</div>

<script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous">
</script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js" integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E=" crossorigin="anonymous">
</script>

<script>

    const list = document.getElementById('list');
    const btn = document.getElementById('btn');
    const allCheckedInputs = [];

    function addToCheckedArr(e){
        if(e.checked){
            allCheckedInputs.push(e)
        }
    }

    function allCheckedAddLink() {
        if(allCheckedInputs.length === 4) {
            console.log('all checked');
            btn.href = "{{site.baseurl}}/create_account/"
        } else {
            btn.href = "{{site.baseurl}}/sorry/"
        }
    }

    function onCheck(choice) {
        console.log('clicked')
        choice.classList.toggle('checked');
        const button = document.getElementById('addLink');
        if(choice){
            button.classList.remove("btn--disabled");
            button.classList.add("btn");
            button.href = choice.value;
        }
    }


    function toggleClass(x) {
        x.classList.toggle('checked');
        console.log(x)
    }

</script>