<div class="chat welcome">
 <div class="top">
     <h3 class="manifest">Manifest</h3>
     <div class="line"></div>
 </div>

    <h1 class="heading u-mg-mid">Requirements</h1>

    <ul class="list">
        <li class="item"> You have to have worked at this company (company name)</li>
        <li class="item"> You have to be terminated from this company (company name)</li>
        <li class="item"> You must have 401(k) balance in order to make the transfer</li>
        <li class="item"> You would like to transfer/rollover your 401(k) or want to learn about your options to rollover/transfer</li>
    </ul>

    <a href="{{ site.baseurl }}/create_account" class="btn-large btm-fixed">Save &nbsp; &nbsp; &rarr;</a>
</div>