<script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous">
</script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js" integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E=" crossorigin="anonymous">
</script>


<script>
    const debugAccelerator = 10; // switch to 1
    const chatMessages = [
        {
            type: "text",
            align: "left",
            msg: "Hi! I'm Henry, and I'm your transfer specialist.",
            delay: 800,
        },
        {
            type: "text",
            align: "left",
            msg: "Nice work deciding to consolidate your retirement accounts. Choosing the right account can be hard. Luckily, I’m here to help!",
            delay: 1200,
        },
        {
            type: "text",
            align: "left",
            msg: "Tell me, do you have at least 6 months of personal savings outside of your retirement accounts?",
            delay: 1500,
        },
        {
            type: "input",
            align: "left",
            input: {type: "buttons", buttons: ["Yes", "No"]},
        },
        {
            type: "text",
            align: "left",
            msg: "Some retirement plans allow you to take out loans. How important is this feature to you?"
        },
        {
            type: "input",
            align: "left",
            input: {type: "buttons", buttons: ["Very Important", "Somewhat Important"]},
            delay: 1900
        },
        {
            type: "text",
            align: "left",
            msg: "There are 2 types of investors:\n" +
                "\n" +
                "Active investors prefer to frequently monitor their investment choices, adjust allocations, and follow the market.\n" +
                "\n" +
                "Passive investors like their investments to be managed for them.",
            delay: 1800,
        },
        {
            type: "text",
            align: "left",
            msg: "Which one best describes you?"
        },
        {
            type: "input",
            align: "left",
            input: {type: "buttons", buttons: ["Active", "Passive"]},
            delay: 1900
        },
        {
            type: "text",
            align: "left",
            msg: "Awesome! I have 2 follow-up questions based on your investment style.",
            delay: 1800,
        },
        {
            type: "text",
            align: "left",
            msg: "Do you like to invest in individual equities (e.g., AAPL GOOG, TSLA)?",
            delay: 1800,
        },
        {
            type: "input",
            align: "left",
            input: {type: "buttons", buttons: ["Yes", "No"]},
            delay: 1900
        },
        {
            type: "text",
            align: "left",
            msg: "How often did you trade in the last 6 months?",
            delay: 1800,
        },
        {
            type: "input",
            align: "left",
            input: {type: "buttons", buttons: ["Daily", "Weekly", "Rarely", "Never"]},
            delay: 1900
        },
        {
            type: "text",
            align: "left",
            msg: "You're almost done!",
            delay: 1800,
        },
        {
            type: "text",
            align: "left",
            msg: "I noticed that not all of your linked accounts have been categorized. Many providers without modern technologies don’t supply us with this information. Help us identify these accounts accurately.",
            delay: 1800,
        },
        {
            type: "input",
            align: "left",
            input: {type: "buttons", buttons: ["Continue"]},
            delay: 1900
        }
    ];
    var currentMessage = 0;
    const chatBox = document.getElementsByClassName('chat');
    const chatMessageList = document.getElementById('message-list');
    const chatMessageListNonRemovableCount = chatMessageList.childNodes.length;

    // console.log($('.chat-message-list'))
    // console.log(chatMessageList)

    function updateScroll() {
        chatBox[0].offsetHeight += 200;
        chatBox[0].scrollTop = chatBox[0].scrollHeight - chatBox[0].clientHeight;
         $('.chat-message-list').animate({ scrollTop: $('.chat-message-list').height() }, 600);
         // console.log($('.chat-message-list').height())
    }
    // setInterval(updateScroll, 300);

    function postMessage(alignment, text, onclick) {
        const bubble = document.createElement("li");
        bubble.className = 'message-' + alignment;
        bubble.innerText = text;
        bubble.onclick = onclick;
        chatMessageList.appendChild(bubble);
        updateScroll();
    }

    function showInputBox() {
        $(".chat-message-list").append("<input type='text' class='input' placeholder='Type Something..'>");
        updateScroll();
    }
    function showInputButtons(button_names) { //param refers to btn array
        const buttonContainer = document.createElement("div");
        buttonContainer.className = 'btn-container';

        const indexToReplayFrom = currentMessage-1;

        for (let i = 0; i < button_names.length; i++) {
            const linkOut =  document.createElement("a");
            linkOut.href = "{{ site.baseurl }}/ira";

            const button = document.createElement("button");
            button.className = 'btn';
            button.innerText = button_names[i];
            button.onclick = () => {
                postMessage("right", button_names[i], () => {
                    replayFrom(indexToReplayFrom);
                });
                chatMessageList.removeChild(buttonContainer);
                updateScroll();
                resumePlaybackWithDelay();

                if(button_names[i].id === "/5") {
                    console.log("hit");
                    button.innerText = button_names[i] + button_names[i].id;
                }
                if(i === button_names.length){
                    alert("last btn")
                    button.onclick = () => {
                        alert("last btn")
                    }
                }
            };

            buttonContainer.appendChild(button);
        }
        chatMessageList.appendChild(buttonContainer);
    }

    function replayFrom(messageIndex) {
        while (chatMessageList.childNodes.length > chatMessageListNonRemovableCount + messageIndex) {
            chatMessageList.removeChild(chatMessageList.lastChild);
        }

        currentMessage = messageIndex;
        processCurrentMessage();
    }

    function resumePlaybackWithDelay() {
        setTimeout(processCurrentMessage, 600);
    }

    function processCurrentMessage() {
        if (currentMessage >= chatMessages.length) {
            window.location = "{{ site.baseurl }}/post_henry"; //exit to next page on last msg
            return;
        }

        const msg = chatMessages[currentMessage++]; //incriment msg so it doesnt repeat from beginning each time its called

        switch (msg.type) {
            case "text":
                postMessage(msg.align, msg.msg);
                // setup a timer which will call processCurrentMessage() after a delay message.delay
                setTimeout(processCurrentMessage, msg.delay/debugAccelerator);
                break;
            case "input":
                switch (msg.input.type) {
                    case "text":
                        showInputBox();
                        break;
                    case "buttons":
                        showInputButtons(msg.input.buttons);
                        updateScroll();
                        break;
                }
                // do nothing, wait for the user to input/respond. when they do (on button click) call processCurrentMessage();
                break;
        }
    }

    processCurrentMessage();


</script>