<script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous">
</script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js" integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E=" crossorigin="anonymous">
</script>
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script>
    // const unchecked = "{{ site.baseurl }}/assets/img/silver-check.png";
    // const checked = "{{ site.baseurl }}/assets/img/check_small.png";

    // // select button element to add href to

    // let isChecked = false;
    // function toggleImg(e) {
    //     if(e.target.src === unchecked) {
    //         e.target.src = checked
    //     } else {
    //         e.target.src = unchecked
    //     }

    //     // isChecked ? e.currentTarget.src = checked : e.currentTarget.src = unchecked

    const links = ["{{ site.baseurl }}/know_yes", "{{ site.baseurl }}/know_no"];

    const ul = document.getElementsByTagName('ul')[0];
    const $ul = $( "ul" )[0];

    const AllChecksArr = [];

    const yes = $( "#yes" );
    const no = $( "#no" );
    const button = document.querySelector('.btn');

    var AllChecks = document.querySelectorAll("#list li i");
    // console.log(AllChecks)

    for(let j=0; j < AllChecks.length; j++){
        AllChecksArr.push(AllChecks[j]);
        // console.log(AllChecks[j])

        AllChecks[j].onclick = function(){
            console.log('meow')
        }
    }

    for(let i=0; i < AllChecksArr.length; i++) {
        AllChecksArr[i].onclick = function(){
            // console.log(AllChecksArr[i].append('<b>Test</b>'));
        };
    }


    function selectOneLink(x) {
        // if other element in ul has class
        // then remove class from all other elements
        // if(x.classList.contains('unchecked-right')){
        //     x.classList.add('checked-right');
        //     x.append('<b>Test</b>')
        // }

        alert("meow")
    }

    /* TODO
    * look at state of checks then use that index
    * alert index of selected element
    * alert link
    * link to other page
    * */

</script>