<script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous">
</script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js" integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E=" crossorigin="anonymous">
</script>

<script>
    var chatMessages = [
        {
            type: "text",
            align: "left",
            msg: "Hi! I'm Henry, and I'm here to assist your transfer.",
            delay: 800,
        },
        {
            type: "text",
            align: "left",
            msg: "Nice work on choosing to rollover your retirement. Moving your money to a plan appropriate for your employment situation is the best way to keep your retirement fund healthy, and growing!",
            delay: 1200,
        },
        {
            type: "text",
            align: "left",
            msg: "Are you currently employed by UoC?",
            delay: 1500,
        },
        {
            type: "input",
            align: "right",
            input: {type: "buttons", buttons: ["Yes", "No"]},
            // delay: 1800,
            msgYes: "Yes",
            msgNo: "No",
            id: "exit"
        },
        {
            type: "text",
            align: "left",
            msg: "Do you have a 401(k) balance at UoC?",
            delay: 1800,
        },
        {
            type: "input",
            align: "right",
            input: {type: "buttons", buttons: ["Yes", "No"]},
            msgYes: "Yes",
            msgNo: "No"
        },
        {
            type: "text",
            align: "left",
            msg: "Lets create an account so you can sign in and check your status anytime.",
            msgYes: "Lets create an account so you can sign in and check your status anytime.",
            delay: 1800,
        },
        {
            type: "text",
            align: "left",
            msg: "What is your email?",
            delay: 1800,
        },
        {
            type: "input",
            align: "right",
            input: {type: "text"}
        }
    ];
    var currentMessage = 0;
    var chatDelay = 0;

    // Todo update scroll fix yes answer

    function postMessage(alignment, text) {
        $(".user-w-msg").append("<p class='message-" + alignment + "'>" + text + "</p>");
    }

    function showInputBox() {
        $(".chat-message-list").append("<input type='text' class='input' placeholder='Type Something..'>");
    }
    function showInputButtons(button_names) {
        $(".chat-message-list").append("<div class='btn-container'>" + "<button class='btn' id='yes'>" + "Yes" + "</button>" + "<button class='btn' id='no'>" + "No" + "</button>" + "</div>");
    }
    function displayBtnResponse(msgYes, msgNo, id) {
        $(':button').click(function () {
            if (id === 'exit' && this.id === 'yes') {
                postMessage("right", msgYes);
                postMessage("left", "Sorry, the service can only be used by former employees to move their 401(k).");
                $(':button').remove();
                return;
            }
            if (this.id === 'yes') {
                postMessage("right", msgYes);
                setTimeout(processCurrentMessage, 600);
                $(':button').remove();
            }
            else if (this.id === 'no') {
                postMessage("right", msgNo);
                $(':button').remove();
                setTimeout(processCurrentMessage, 600)
            }
        });
    }

    function processCurrentMessage() {
        if (currentMessage >= chatMessages.length) {
            return;
        }

        const msg = chatMessages[currentMessage++]; //incriment msg so it doesnt repeat from beginning each time its called
        switch (msg.type) {
            case "text":
                postMessage(msg.align, msg.msg);
                // setup a timer which will call processCurrentMessage() after a delay message.delay
                setTimeout(processCurrentMessage, msg.delay);
                break;
            case "input":
                switch (msg.input.type) {
                    case "text":
                        showInputBox();
                        break;
                    case "buttons":
                        showInputButtons(msg.input.buttons);
                        displayBtnResponse(msg.msgYes, msg.msgNo, msg.id);
                        break;
                }
                // do nothing, wait for the user to input/respond. when they do (on button click) call processCurrentMessage();
                break;
        }
    }

    processCurrentMessage();


</script>