<script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous">
</script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js" integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E=" crossorigin="anonymous">
</script>

<script>
    var chatMessages = [
        {
            name: "ms1",
            type: "text",
            align: "left",
            msg: "Hi! I'm Henry, and I'm your transfer specialist.",
            delay: 800,
        },
        {
            name: "ms2",
            type: "text",
            align: "left",
            msg: "Nice work on choosing to consolidate your retirement accounts. Choosing the right account can be hard, but I'm here to help!",
            delay: 1200,
        },
        {
            name: "ms3",
            type: "text",
            align: "left",
            msg: "Do you have at least 6 months of personal savings?",
            delay: 1500,
        },
        {
            type: "input",
            align: "left",
            input: {type: "buttons", buttons: ["Yes", "No"]},
            // delay: 1800,
            msgYes: "Yes",
            msgNo: "No",
            id: "exit"
        },
        {
            type: "text",
            align: "left",
            msg: "Would you like to manage your retirement accounts actively or passively?",
            delay: 1800,
        },
        {
            type: "input",
            align: "left",
            input: {type: "buttons", buttons: ["Actively", "Passively"]},
            msgYes: "Actively",
            msgNo: "Passively"
        },
        {
            type: "text",
            align: "left",
            msg: "Lets create an account so you can sign in and check your status anytime.",
            msgYes: this.msg,
            delay: 1800,
        },
        {
            type: "text",
            align: "left",
            msg: "What is your email?",
            delay: 1800,
        },
        {
            type: "input",
            align: "left",
            input: {type: "text"}
        }
    ];
    var currentMessage = 0;
    var chatDelay = 0;
    const chatBox = document.getElementsByClassName('chat');
    const chat = $('.chat');
    const henry = $('.henry');
    const henryMsg = $('.message-left');
    const henryMsg2 = document.getElementsByClassName('message-left');
    const response = document.querySelector('message-right');

    const ul = document.querySelector('chat-message-list');
    const li = $('.message-right');

    // console.log(chatBox, chatBox[0].offsetHeight)


    // for (let i=0; i <= li.length; i++) {
    //     response.onclick = editResponse;
    // }
    // function editResponse() {
    //     console.log("clicked")
    // }

    function updateScroll() {
        chatBox[0].offsetHeight += 200;
        chatBox[0].scrollTop = chatBox[0].scrollHeight - chatBox[0].clientHeight;
    }
    setInterval(updateScroll, 100);


    function postMessage(alignment, text) {
        $(".chat-message-list").append("<li class='message-" + alignment + "'>" + text + "</li>");
        updateScroll();
    }

    function showInputBox() {
        $(".chat-message-list").append("<input type='text' class='input' placeholder='Type Something..'>");
    }
    function showInputButtons(button_names) {
        $(".chat-message-list").append("<div class='btn-container'>" + "<button class='btn' id='yes'>" + button_names[0] + "</button>" + "<button class='btn' id='no'>" + button_names[1] + "</button>" + "</div>");
    }
    function displayBtnResponse(msgYes, msgNo, id) {
        $(':button').click(function () {
            if (id === 'exit' && this.id === 'yes') {
                postMessage("right", msgYes);
                postMessage("left", "Sorry, the service can only be used by former employees to move their 401(k).");
                $(':button').remove();
                return;
            }
            if (this.id === 'yes') {
                postMessage("right", msgYes);
                setTimeout(processCurrentMessage, 600);
                $(':button').remove();
            }
            else if (this.id === 'no') {
                postMessage("right", msgNo);
                $(':button').remove();
                setTimeout(processCurrentMessage, 600)
            }
        });
    }

    function processCurrentMessage() {
        if (currentMessage >= chatMessages.length) {
            return;
        }

        const msg = chatMessages[currentMessage++]; //incriment msg so it doesnt repeat from beginning each time its called

        switch (msg.type) {
            case "text":
                postMessage(msg.align, msg.msg);
                // setup a timer which will call processCurrentMessage() after a delay message.delay
                setTimeout(processCurrentMessage, msg.delay);
                break;
            case "input":
                switch (msg.input.type) {
                    case "text":
                        showInputBox();
                        break;
                    case "buttons":
                        showInputButtons(msg.input.buttons);
                        displayBtnResponse(msg.msgYes, msg.msgNo, msg.id);
                        break;
                }
                // do nothing, wait for the user to input/respond. when they do (on button click) call processCurrentMessage();
                break;
        }
    }

    processCurrentMessage();


</script>