<div class="chat welcome" onscroll="updateScroll()">
    <img src="{{ site.baseurl }}/assets/img/top.png" alt="" class="top">

    <h1 class="heading heading--blue u-mg-sm">Welcome Back!</h1>

    <form action="" class="form">
        <label for="email" class="form__label">Email or Mobile Phone</label>
        <input type="email" class="form__input" name="email">


        <label for="password" class="form__label">Password</label>
        <input type="password" class="form__input" name="password">
        <p class="text--grey u-mg-xsm">Forgot your password?</p>
    </form>

    <a href="{{ site.baseurl }}/know" class="btn">Save  &rarr;</a>
</div>