<div class="chat welcome" onscroll="updateScroll()">
    <div class="top">
        <h3 class="manifest"><a class="backArrow" onclick="goBack()"></a>Manifest</h3>
        <div class="line--2"></div>
    </div>


    <div class="placeholder"></div>

    <h1 class="heading heading--blue">We're Sorry!</h1>

    <p class="text">We only support a few companies right now, we are expanding rapidly. We hope we will be working with your employer soon, your HR can make this happen faster. Please request them to reach out to us !</p>

    <p class="text">If you there has been a mistake please reach out to us and we will get it sorted out!</p>

    <p class="text">
        Email:
        <span class="text--blue">hi@manifestledger.com</span>
    </p>


    <a onclick="goBack()" class="btn-large btm-fixed">&larr; &nbsp; Go Back</a>

</div>
