<div class="chat welcome" onscroll="updateScroll()">
    <div class="top">
        <h3 class="manifest"><a class="backArrow" onclick="goBack()"></a>Manifest</h3>
        <div class="line--2"></div>
    </div>


    <div class="placeholder"></div>

    <h1 class="heading heading--blue">We're Sorry!</h1>

    <p class="text">University of Chicago uses TIAA to provide retirement benefits. If you don’t have that account yet , please reach out to your HR and they can work with you to get you started. </p>

    <p class="text">
        Email:
        <span class="text--blue">benefits@uchicago.edu</span>
        <br>
        <br>
        Phone:
        <span class="text--blue">(773) 702-9634</span>
    </p>


    <a onclick="goBack()" class="btn-large btm-fixed">&larr; &nbsp; Go Back</a>

</div>
