<div class="chat" onscroll="updateScroll()">
    <img src="{{ site.baseurl }}/assets/img/top.png" alt="" class="top">

    <div class="chat-container">
        <header class="header">
            <img src="{{ site.baseurl }}/assets/img/henry.png" alt="" class="header__img">
            <h1 class="header__primary">Henry</h1>
            <h2 class="header__secondary">Personal Retirement Advisor</h2>
        </header>

        <div class="chat-list-container">

            <ul class="chat-message-list">
                <img src="{{ site.baseurl }}/assets/img/henry.png" class="henry">
            </ul>
        </div>

    </div>
    <!--<div class="bottom">-->
    <!--<p class="bottom-line"></p>-->
    <!--</div>-->
</div>
