<div class="chat welcome back-blue">
    <div class="top">
        <h3 class="verify-code white-text">Enter Your Credentials <a class="x white-text" onclick="goBack()"></a></h3>
        <div class="line--2"></div>
    </div>

    <img src="{{ site.baseurl }}/assets/img/tiaa-logo.png" alt="" class="tiaa-logo">

    <img src="{{ site.baseurl }}/assets/img/TIAA_Successful_Check.png" alt="" class="check u-mg-mid">

    <h1 class="heading--white">Your Account was successfully linked</h1>

    <a href="{{ site.baseurl }}/know/" class="btn-large tiaa-btn btm-fixed">Continue</a>
</div>