<div class="chat welcome">
    <div class="top">
        <h3 class="manifest"><a class="backArrow" onclick="goBack()"></a>Manifest</h3>
        <div class="line--2"></div>
    </div>

    <h1 class="text--black mg-btm-small">Based on TIAA records, your University of Chicago retirement account is broken up into:</h1>

    <div class="number-list">
        <p class="text text--blue padding-sm">Total TIAA Balance</p>
        <p class="text text--black--sm padding-sm">$600.00</p>
    </div>

    <div class="number-list">
        <p class="text text--black--sm padding-sm">TIAA Roth</p>
        <p class="text text--black--sm padding-sm">$100.00</p>
    </div>

    <div class="number-list u-mg-btm-6">
        <p class="text text--black--sm padding-sm">TIAA Traditional </p>
        <p class="text text--black--sm padding-sm">$500.00</p>
    </div>

    <p class="note-text u-mg-btm-6 left-5">We treat these accounts seperately just like the IRS.</p>

    <p class="text">Let’s start with your TIAA Traditional account.</p>

    <a href="{{site.baseurl}}/link_account" class="btn-large btm-fixed">Continue</a>

</div>