<div class="chat welcome">
    <div class="top">
        <h3 class="verify-code">Verification Code</h3>
        <div class="line"></div>
    </div>

    <h1 class="heading heading--secondary u-font-mid">Please enter the 5 digit Verification code from the text message you will receive.</h1>

    <div class="dashes">
        <input type="number" class="dashes__line">
        <input type="number" class="dashes__line">
        <input type="number" class="dashes__line">
        <input type="number" class="dashes__line">
        <input type="number" class="dashes__line">
    </div>

    <a href="{{ site.baseurl }}/account_success/" class="btn-large">Verify Code</a>

    <p class="text--blue-large">Resend Code</p>

</div>