<div class="chat welcome">
    <div class="top">
        <h3 class="manifest"><a class="backArrow" onclick="goBack()"></a>Manifest</h3>
        <div class="line--2"></div>
    </div>
    <h1 class="heading"><span class="heading--blue">Verification</span><br> Code</h1>

    <p class="text u-verify-text">Please type the 5 digit Verification code</p>

    <div class="dashes">
        <input type="number" class="dashes__line">
        <input type="number" class="dashes__line">
        <input type="number" class="dashes__line">
        <input type="number" class="dashes__line">
        <input type="number" class="dashes__line">
    </div>

    <a href="{{ site.baseurl }}/account_success/" class="btn-large btm">Verify Code</a>

    <p class="text--blue-large text-center btm">Resend Code</p>

</div>