<div class="phone-container">
    <img src="{{ site.baseurl }}/assets/img/top2.png" alt="" class="top">
    <header class="header">
        <img src="{{ site.baseurl }}/assets/img/henry2.png" alt="" class="header__img">
        <h1 class="header__primary">Henry</h1>
        <h2 class="header__secondary">Personal Retirement Advisor</h2>
    </header>

    <div class="typing">
        <img src="{{ site.baseurl }}/assets/img/henry2.png" alt="" class="typing__henry" id="henry">
        <div class="typing__bubble" id="typing">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
        </div>
    </div>

    <p class="msg">Hi! I'm Henry, and I'm here to assist your transfer.</p>

    <!--<p class="msg">Nice work on choosing to rollover your retirement. Moving your money to a plan appropriate for your employment situation is the best way to keep your retirement fund healthy, and growing!</p>-->

    <!--<p class="msg">Are you currently employed by UoC?</p>-->


    <div class="btn-container">
        <button class="btn">Yes</button>
        <button class="btn">No</button>
    </div>


    <div class="bottom-line"></div>
</div>