<div class="phone-container">
    <img src="../assets/img/top.png" alt="" class="top">
    <header class="header">
        <img src="../assets/img/henry2.png" alt="" class="header__img">
        <h1 class="header__primary">Henry</h1>
        <h2 class="header__secondary">Personal Retirement Advisor</h2>
        <h2 class="header__tertiary">Welcome to Harbor</h2>
    </header>

    <p class="date">February 12, 2019</p>
    <div class="typing">
        <img src="../assets/img/henry2.png" alt="" class="typing__henry">
        <div class="typing__bubble"></div>
    </div>

    <div class="bottom-line"></div>
</div>