<div class="phone-container">
    <img src="{{ site.baseurl }}/assets/img/top.png" alt="" class="top">
    <header class="header">
        <img src="{{ site.baseurl }}/assets/img/henry2.png" alt="" class="header__img">
        <h1 class="header__primary">Henry</h1>
        <h2 class="header__secondary">Personal Retirement Advisor</h2>
        <h2 class="header__tertiary">Welcome to Harbor</h2>
    </header>

    <p class="date">February 12, 2019</p>
    <div class="typing">
        <img src="{{ site.baseurl }}/assets/img/henry2.png" alt="" class="typing__henry">
        <div class="typing__bubble">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
        </div>
    </div>

    <p class="msg msg--1">Hi! I'm Henry, your personal 401(k) Advisor. I'll help you quickly get into a 401(k) plan that works for you. Let's get you ready to set sail towards your retirement.</p>

    <!--<p class="msg msg&#45;&#45;2">First, I need your birthdate and last four digits of your SSN.</p>-->

    <!--<p class="msg msg&#45;&#45;3">This is to tie your account to your employer's information and verify eligibility.</p>-->

    <!--<p class="msg msg&#45;&#45;4"> Let's start with your date of birth.</p>-->

    <!--<button class="btn">Confirm</button>-->

    <div class="bottom-line"></div>
</div>