<div class="chat welcome back-red">
    <div class="top top--credentials">Enter Your Credentials <a class="x white-text" onclick="goBack()"></a></div>

    <img src="{{ site.baseurl }}/assets/img/wells_white.png" alt="" class="wells-logo">

    <h1 class="heading--white u-mg-mid">Your Account was linked successfully!</h1>

    <img src="../assets/img/Wells-fargo-Checkmark.png" alt="" class="check">

    <a href="{{ site.baseurl }}/account_money_2/" class="btn-large wells-btn btm-fixed">Continue</a>
</div>