.welcome {
  font-family: $avenir;
  display: flex;
  flex-direction: column;
  //justify-content: center;
}

.placeholder {
  width: 20rem;
  height: 12rem;
  margin: 2rem auto;
  background: $light-grey-2;
}

.dot-container {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

.dot {
  text-decoration: none;
  cursor: pointer;
  color: $blue;
  font-size: 7.5rem;
  line-height: 0;

  &--light {
    color: lighten($blue, 20%);
  }
}

.list {
  display: list-item;
  position: relative;
  //list-style-image: url("../../assets/img/check.png") !important;

  .item {
    font-size: 1.6rem;
    padding: 0 10%;
    margin-bottom: 2rem;

    &::before {
      content: url("../../assets/img/check_small.png");
      vertical-align: -40%;
    }
  }
}