.welcome {
  font-family: $avenir;
  display: flex;
  flex-direction: column;
  //justify-content: center;
}

.placeholder {
  width: 20rem;
  height: 12rem;
  margin: 2rem auto;
  background: $light-grey-2;
}

.dot-container {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

.dot {
  text-decoration: none;
  cursor: pointer;
  color: $blue;
  font-size: 7.5rem;
  line-height: 0;

  &--light {
    color: lighten($blue, 20%);
  }
}

.list {
  display: list-item;
  position: relative;

  .item {
    font-size: 1.6rem;
    padding: 0 15%;
    margin-bottom: 2rem;
    position: relative;
    cursor: pointer;

    &__img {
      width: 1.8rem;
      height: auto;
      margin-right: 1rem;
      position: absolute;
      top: 1rem;
      left: 3rem;
    }
  }
}

.unchecked {
  font-size: 1.8rem;
  color: $silver;
  cursor: pointer;
  margin-right: 1rem;
  position: absolute;
  top: 1rem;
  left: 3rem;

  //&--right {
  //  @extend .unchecked;
  //  top: 0;
  //  right: 1rem;
  //}
}

.checked {
  @extend .unchecked;
  color: $blue;
}

.unchecked-right {
  font-size: 1.8rem;
  color: $silver;
  cursor: pointer;
  margin-right: 1rem;
  position: absolute;
  top: 0;
  right: 1rem;
}

.checked-right {
  @extend .unchecked-right;
  color: $blue;
}