<!DOCTYPE html>
<html lang="en">
<head>
    {% include meta.html %}
</head>

<body>
<div class="chat welcome" onscroll="updateScroll()">
    <div class="top">
        <h3 class="manifest"><a class="backArrow" onclick="goBack()"></a>Manifest</h3>
        <div class="line--2"></div>
    </div>

    <div class="blue-heading">
        <img src="{{ site.baseurl }}/assets/img/dropbox.png" alt="" class="blue-heading__img">
        <h1 class="blue-heading__text">Account to Transfer</h1>
    </div>

    <div class="money-card money-card--2">
        <div class="money">
            <p class="money__co">TIAA</p>

            <span class="sm-line"></span>
            <img src="{{ site.baseurl }}/assets/img/edit-icon-sm.png" class="icon-right icon-right--delete">
        </div>
    </div>

    <div class="blue-heading">
        <img src="{{ site.baseurl }}/assets/img/dropbox.png" alt="" class="blue-heading__img">
        <h1 class="blue-heading__text">Destination Account</h1>
    </div>

    <div class="money-card money-card--2">
        <div class="money" onclick="goToOtherPage()">
            <p class="money__co">Fidelity</p>

            <span class="sm-line"></span>
            <img src="{{ site.baseurl }}/assets/img/edit-icon-sm.png" class="icon-right icon-right--delete">
        </div>
    </div>
    <div class="money-card money-card--2">
        <div class="money" onclick="goToOtherPage()">
            <p class="money__co">Wells Fargo</p>

            <span class="sm-line"></span>
            <img src="{{ site.baseurl }}/assets/img/edit-icon-sm.png" class="icon-right icon-right--delete">
        </div>
    </div>

    <div class="money-card money-card--2">
        <div class="money" onclick="goToOtherPage()">
            <p class="money__co">Charles Schwab</p>

            <span class="sm-line"></span>
            <img src="{{ site.baseurl }}/assets/img/edit-icon-sm.png" class="icon-right icon-right--delete">
        </div>
    </div>

    <div class="flex btm">
        <a href="{{ site.baseurl }}/home_3" class="btn-large">Add Account</a>
        <a href="{{ site.baseurl }}/home_3" class="btn-large">Continue</a>
    </div>

</div>

<script>
    function goToOtherPage () {
        window.location = "{{ site.baseurl }}/account_change"
    }
</script>
{% include script_toggle_link.html %}

</body>
</html>