<!DOCTYPE html>
<html lang="en">
<head>
    {% include meta.html %}
</head>

<body>


<div id="wrapper">
    <div class="chat">
        <div class="chat-container">
            <img src="https://sierramoore.github.io/chat_screens/assets/img/top2.png" class="top">
            <div class="chat-listcontainer typing">
                <img src="https://sierramoore.github.io/chat_screens/assets/img/henry2.png" class="typing__henry">
                <ul class="chat-message-list">
                </ul>
            </div>
        </div>
    </div>
</div>



{% include script.html %}
</body>
</html>