<!DOCTYPE html>
<html lang="en">
<head>
    {% include meta.html %}
</head>

<body>


<div class="chat">
    <div class="chat-container">

        <img src="{{ site.baseurl }}/assets/img/top2.png" class="top">

        <div class="chat-list-container typing">
            <img src="{{ site.baseurl }}/assets/img/henry2.png" class="henry">
            <ul class="chat-message-list">
                <li class="user-w-msg">

                </li>

            </ul>

            <p class="bottom-line"></p>
        </div>
    </div>
</div>



{% include script.html %}
</body>
</html>